data/clinical_data.tsv filter=lfs diff=lfs merge=lfs -text
models/decoder_onehidden_warmstart_batchnorm_vae.hdf5 filter=lfs diff=lfs merge=lfs -text
models/encoder_onehidden_warmstart_batchnorm_vae.hdf5 filter=lfs diff=lfs merge=lfs -text
data/encoded_rnaseq_onehidden_warmup_batchnorm.tsv filter=lfs diff=lfs merge=lfs -text
data/onehidden_warmup_batchnorm_tsne_out.tsv filter=lfs diff=lfs merge=lfs -text
data/pancan_scaled_zeroone_rnaseq.tsv filter=lfs diff=lfs merge=lfs -text
models/decoder_onehidden_vae.hdf5 filter=lfs diff=lfs merge=lfs -text
models/encoder_onehidden_vae.hdf5 filter=lfs diff=lfs merge=lfs -text
results/parameter_sweep_full_results.tsv filter=lfs diff=lfs merge=lfs -text
