data/clinical_data.tsv filter=lfs diff=lfs merge=lfs -text
data/encoded_naive_vae300_model.tsv filter=lfs diff=lfs merge=lfs -text
models/decoder_onehidden_warmstart_batchnorm_vae.hdf5 filter=lfs diff=lfs merge=lfs -text
models/encoder_naive_vae.hdf5 filter=lfs diff=lfs merge=lfs -text
models/encoder_onehidden_warmstart_batchnorm_vae.hdf5 filter=lfs diff=lfs merge=lfs -text
models/full_naive_vae.hdf5 filter=lfs diff=lfs merge=lfs -text
models/generator_naive_vae.hdf5 filter=lfs diff=lfs merge=lfs -text
data/encoded_rnaseq_onehidden_warmup_batchnorm.tsv filter=lfs diff=lfs merge=lfs -text
data/onehidden_warmup_batchnorm_tsne_out.tsv filter=lfs diff=lfs merge=lfs -text
data/pancan_scaled_zeroone_rnaseq.tsv filter=lfs diff=lfs merge=lfs -text
